<section class="user-form">
<div class="row">
  <h4><%= form_title %></h4>
</div>

<div class="row">
  <% if user.errors.any? %>
    <% user.errors.full_messages.each do |msg| %>
      <p> <%= msg %></p>
    <% end %>
  <% end %>
</div>
  <div class="user-content">
    <%= form_for(user) do |f| %>
      <div class="row">
        <div class="input-group">
          <label for="name">Name</label>
          <%= f.text_field :name, placeholder: "What's your name?" %>
        </div>
      </div>
      <div class="input-group">
        <label for="handle">Handle</label>
        <%= f.text_area :handle, placeholder: "@handle" %>
      </div>
      <div class="input-group">
        <label for="email">Email</label>
        <%= f.text_area :email, placeholder: "What's your email address?" %>
      </div>
      <div class="row">
        <div class="actions">
        <%= f.submit %>
      </div>
    </div>
    </div>
  </div>
    <% end %>
